<main class="main">
    <mat-grid-list cols="4" rowHeight="20svh">
        @for (tile of tiles; track tile) {
        <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            @switch (tile.content) {
            @case ('main') {
                <app-console #consoleRef></app-console>
            }
            @case ('side') {
                <app-controls 
                    (stateChange)="handleUpdate($event)"
                    (startPressed)="handleStart($event)"
                    (quitPressed)="handleQuit()">
                </app-controls>
            }
            @case ('bottom') {
                <app-sniper 
                    #sniperRef
                    [count]="agentCount" 
                    [globalDisabled]="!isRunning">
                </app-sniper>
            }
            @default {
            <p>Error!</p>
            }
            }
        </mat-grid-tile>
        }
    </mat-grid-list>
</main>

<router-outlet />