/* console.component.css */

.console {
    background-color: var(--mat-sys-surface-container-highest);
    width: calc(75vw - 10rem);
    height: calc(80vh - 10rem);
    margin: 2.5rem;
    padding: 2.5rem;
    border-radius: 2.5rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--mat-sys-on-surface);
}

.scrollable {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%; 
    max-height: calc(80vh - 10rem);

    mask-image: linear-gradient(to bottom, transparent 0%, black 12.5%);
    scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: var(--mat-sys-secondary);
    border-radius: 10px;
}
.line:first-child {
    margin-top: auto;
    padding-top: 15%; 
}

.line {
    margin-bottom: 4px;
    word-wrap: break-word;
}