button {
    border: none;
    padding: 2.5rem;
    width: calc(20vh - 2.5rem);
    height: calc(20vh - 2.5rem);
    border-radius: 2.5rem;
}

.button-container {
    width: calc(75vw - 5rem);
    height: 20vh;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

p {
    position: relative;
    left: 2.5rem;
    top: 0.5rem;
}

.active {
    background-color: var(--mat-sys-secondary);
}

.inactive {
    background-color: color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent);
}