<div class="container">
    <h2>Population Protocols</h2>

    <mat-form-field>
        <mat-label>Wähle ein Protokoll aus</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="resetMap()">
            <mat-option value="min">Min</mat-option>
            <mat-option value="mod">Mod</mat-option>
            <mat-option value="min-mod">Min-Mod</mat-option>
            <mat-option value="monadic">Monadic</mat-option>
        </mat-select>
    </mat-form-field>

    @switch (selected) {
    @case ("min") {
        <min-controls (agentsChanged)="handleAgentsChange($event)" (maxChanged)="handleMaxChange($event)"></min-controls>
    }
    @case ("mod") {
        <mod-controls (agentsChanged)="handleAgentsChange($event)" (modChanged)="handleModChange($event)"></mod-controls>
    }
    @default {
    <p>Fehler</p>
    }
    }

    <mat-divider></mat-divider>

    <h2>Einstellungen:</h2>

    <mat-divider></mat-divider>

    <div class="randomContainer">
        <span>
            Zufälliger Sniper
        </span>

        <mat-slide-toggle 
            [(ngModel)]="isRandomSniper" 
            (ngModelChange)="updateMap('randomSniper', isRandomSniper)">
        </mat-slide-toggle>
    </div>

    @if (isRandomSniper) {
        <p>Wahrscheinlichkeit p:</p>
        <mat-slider min="0" max="1" step="0.1">
        <input matSliderThumb (valueChange)="onProbChange($event)">
        </mat-slider>
    }

    <mat-form-field>
        <mat-label>Seed (optional)</mat-label>
        <input 
            matInput 
            type="number" 
            [(ngModel)]="seedValue" 
            (ngModelChange)="updateMap('seed', seedValue)"
            placeholder="0">
    </mat-form-field>
</div>

<div class="container-bottom">
    <button 
        class="start" 
        [disabled]="isRunning" 
        (click)="onStart()">
        <mat-icon fontIcon="play_arrow"></mat-icon>
    </button>
    
    <button 
        class="quit" 
        [disabled]="!isRunning" 
        (click)="onQuit()">
        <mat-icon fontIcon="stop_circle"></mat-icon>
    </button>
</div>