mat-form-field {
    width: calc(25vw - 5rem);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(75vh - 5rem);
    margin: 2.5rem;
    color: var(--mat-sys-on-surface);
}

.container-bottom {
    margin-inline: 2.5rem;
    height: calc(25vh - 5rem);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2.5rem;
}

p {
    margin: 1rem;
}

button {
    border: none;
    padding: 2.5rem;
    height: calc(20vh - 2.5rem);
    flex-grow: 1;
    border-radius: 100vmax;
}

button:disabled,
button[disabled]{
    color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
    background-color: color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent);
    border-radius: 2.5rem;
}

.start {
    background-color: var(--mat-sys-primary);
}

.quit {
    background-color: var(--mat-sys-error);
}

.randomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    margin: 1rem
}

mat-divider {
    margin-block: 1rem;
}